


  <div class="row content">
    <div class="sidenav">
      <h4>Admin Site</h4>
      <ul class="nav nav-pills nav-stacked" id="adminlist">
        <li><%= link_to "Back to Home",  root_path %></li>
        <li><%= link_to "Products",  admin_products_path %></li>
        <li><%= link_to "Users",     admin_users_path %></li>
        <li><%= link_to "Orders",    admin_orders_path %></li>
      </ul><br>
      
    </div>
  </div>


