<footer class="footer">
  <small>
    FullStack challenge by Rodrigo Garcia
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://loopstud.io">Loop Studio</a></li>
    </ul>
  </nav>
</footer>